# dependencies
node_modules/

# environment variables
.env

# uploads
backend/uploads/

# build folders
dist/
build/
uploads/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# temporary files
*.tmp
*.temp